@{
    ViewData["Title"] = "Home Page";
}

<div class="row my-5">
<div >
	
	<div class="col-6 text-end">
		<a asp-controller="" asp-action="" class="btn btn-primary"><i class="bi bi-plus-square"></i> Timer</a>
	</div>
</div>
<div>

	<div class="col-6 text-end">
		<a asp-controller="" asp-action="" class="btn btn-primary"><i class="bi bi-plus-square"></i> Logger</a>
	</div>
</div>
<div>

	<div class="col-6 text-end">
		<a asp-controller="" asp-action="" class="btn btn-primary"><i class="bi bi-plus-square"></i> Overview</a>
	</div>
</div>
</div>